*{
    margin: 0;
}

/*intestazione*/
body{
    background-color: rgb(236, 236, 236);
    font-family: Roboto;
}

header{
    background-color: white;
    height: 60px;
    padding-left: 20px;
    padding-top: 10px;
}
h1{
    display: inline-block;
    font-size: 38px;
    
}

.vertical-aling{
    vertical-align: middle;
}

main{
    width: 1500px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
}

.contenitore1{
    margin-top: 50px;
}


/*bottoni*/
.botton-blu{
    background-color: rgb(6, 132, 250);
    color: #ffffff;
    border-radius: 5px;
    padding: 6px 13px;
    margin: 12px 12px 22px 43px;
}

.botton-gray{
    color: rgb(155, 152, 152);
    border-radius: 5px;
    border-radius: 5px;
    padding: 6px 13px;
}

.list{
    list-style-type: none;
    margin-bottom: 25px;
}
.spaziatura{
    padding: 12px;
}


/*tag della lista*/
.tag-blu{
    background-color: rgb(6, 132, 250);
    color: #ffffff;
    border-radius: 14px;
    padding: 6px 13px;
}



.tag-viola{
    background-color: rgb(125, 74, 207);
    color: #ffffff;
    border-radius: 14px;
    padding: 6px 13px;
}

.tag-verde{
    background-color: rgb(62, 211, 136);
    color: #ffffff;
    border-radius: 14px;
    padding: 6px 13px;
}

.tag-arancio{
    background-color: rgb(224, 134, 15);
    color: #ffffff;
    border-radius: 14px;
    padding: 6px 13px;
}

.tag-fucsia{
    background-color: rgb(223, 31, 197);
    color: #ffffff;
    border-radius: 14px;
    padding: 6px 13px;
}

.tag-verdino{
    background-color: rgb(169, 235, 15);
    color: #ffffff;
    border-radius: 14px;
    padding: 6px 13px;
}

/*cerchi colorarti*/
.cerchio{
    color: green;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    border: 1px solid;
}

.cerchio-rosso{
    color: rgb(255, 0, 0);
    border-radius: 50%;
    width: 18px;
    height: 18px;
    border: 1px solid;
}

